/******************************
 * TaskFish Theme
 */

/* Theme Primary Oranges */
.fish-dark-fill {
	background: #F7941E;
}
.fish-light-fill {
	background: #F15A29;
}

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #F7941E;
}

.fish-grad-fill {
	background: -webkit-linear-gradient(bottom,#f15a29,#f7941e,yellow);
}
.fish-hr {
	width: 100%;
	height: 1.5pt;
}
.fish-list {
	border:1px solid #F15A29;
	
	display: inline-block;
	width:90%;
	padding:2px 2px 2px 2px;
	padding-top:4px;
	padding-right:4px;
	border-radius:4px;
	}
.fish-list .task, .fish-list li {
	background: -webkit-linear-gradient(bottom,yellow,#F09825);
	padding-top:2px;
	vertical-align:middle;
	min-height: 18px;
	width: 100%;
	border: 1px solid #F7941E;
	border-radius: 2px;
/*	padding-left: 2px;
	padding-right: 2px; */
	margin-bottom: 2px;
	list-style: none;
}
.fish-list .task .status, .fish-list li input {
	float: left;
}
.fish-list .task .description, .fish-list li label {
	font-weight:normal;
	vertical-align:middle;
}
